::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* Edit all page--------------------------------------------------------------------------------- */
*{
  font-family: 'Prompt', sans-serif;
}
/* html edit------------------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

.modebut {
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  color: white;
}

.admin {
  background-color: #ff8138;
}

.pos {
  background-color: #4a68ff;
}

.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease;
}

.fade-out-animation {
  opacity: 0;
  visibility: hidden;
}

.content {
  margin-left: 20px;
  width: 100%;
}

.billformbox {
  width: 100%;
  height: auto;
  width: 284px;
  padding: 30px 30px 40px 30px;
  border: 1px solid #BFBFBF;
  background-color: #bfbfbf;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.lobut {
  background-color: #f53131;
}

.lobut:hover {
  background-color: #cf1a1a;
}

.libut {
  background-color: #4dc96e;
}

.libut:hover {
  background-color: #2cba52;
}

.libotpbut {
  background-color: #4dc96e;
}

.libotpbut:hover {
  background-color: #2cba52;
}

.regbut {
  background-color: #4f96c2;
}

.regbut:hover {
  background-color: #3d82ad;
}

.but{
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.fgpw {
  color:white;
  text-decoration: none;
  transition: 0.15s;
}

.fgpw:hover{
   color:#041ea1;
   cursor: pointer;
}

.subt {
  font-weight: 1000;
  float: right;
  text-decoration: none;
  color: #7ef69e;
  transition: 0.1s;
}

.subt:hover {
  color: #14ac3d;
  cursor: pointer;
}

#cpwrqm li{
  color:#575757;
}

#cpwrqm {
  list-style-type: disc;
}

#subjbody tr:last-child td{
  border-bottom-right-radius: 12px;
}

#subjbody tr:last-child th{
  border-bottom-left-radius: 12px;
}

.gtt-nav {
  border: 1px solid #dadaef;
  background-color: #fafaff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gtt-ele {
  border: 1px solid #dadaef;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gtt-nav-but {
  border: 1px solid #dadaef;
  background-color: #fafaff;
  display: flex;
  justify-content: center;
  align-items: center;
}
